---
layout: default
title: Amazon Robotic Process Automation - VendorDB
permalink: /
section: home
---

<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-white py-5 mx-auto">
        <h1 class="display-3">
          Automate Your Repetitive Amazon Tasks
        </h1>
        <br />
        <h3 class="display-5 font-weight-normal">
          <em>Tools for Amazon Vendors, Sellers, and Agencies</em>
        </h3>
        <p class="lead pt-5">
          <a
            href="https://app.thevdb.com/onboard"
            class="btn btn-lg btn-outline-light"
            style="font-size: 2rem;"
            >Hire our robots as your next employee!</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- {% include targets.html %}   -->
</div>

{% for solution in site.solutions %}
<div class="container py-5">
  {% capture row %}{% cycle "even", "odd"%}{% endcapture %}{% capture rowname
  %}solution{{row}}.html{% endcapture %}
  <div class="row py-4">
    {% include {{rowname}} %}
  </div>
</div>
{% endfor %}
