---
layout: default
title: PRICING - Amazon Automation Modules
section: home
---

<div class="bg-dark">
  <h1 class="py-5 text-white  text-center">
     <span class="display-3">Pay Per Use </span><small class="display-5"><em>(Not Anything More)</em></small>
  </h1>
</div>

{% for product in site.products %}
{% assign slug = product.path | split: "." | first | split: "/" | last | slugify %}
{% assign badges = product.badge | split: "," %}
<div class="container py-5" style="min-height: 70vh;" id="{{slug}}">
  <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center">
    <div class="col-8">
      <h1 class="text-center">{{product.title}}</h1>
      <div class="py-4 px-5">
        {% for badge in badges %}
          {% capture badger %}badge/{{badge | slugify}}.html{% endcapture %}
          {% include {{badger}} %}
        {% endfor %}
        {% if badges.size > 1 %}
        {% include badge/agency.html %}
        {% endif %}
        <br>
        <p class="lead">
          {{product.subtitle}}
          <a class="btn btn-sm btn-outline-secondary" href="{{product.url}}">Learn More about {{product.short_title}}</a>
        </p>
      </div>

    </div>
    <div class="col-4">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">{{product.short_title}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{product.pricing}}<small class="text-muted">{{product.pricing_modifier}}</small></h1>

        <ul class="mt-3 mb-4">
          {% for feature in product.features %}
            <li>{{feature}}</li>
          {% endfor %}
        </ul>

        <a href="{{site.signup}}" class="w-100 btn btn-lg btn-primary">{{product.cta}}</a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
