<div class="row">
  <div class="col">
    <p>
      <img
        src="//microicon-clone.vercel.app/tv/99/076bff"
        alt="responsive icon"
      />
    </p>
    <h3>Time Sensitive Updates and Alerts</h3>
    <p>
      Perfect Email Notifications <strong>As-Needed</strong>.<br />
      Not More. Not Less.
    </p>
  </div>
  <div class="col">
    <p>
      <img
        src="//microicon-clone.vercel.app/insert_chart/99/076bff"
        alt="responsive icon"
      />
    </p>
    <h3>Share Your Data and Insights</h3>
    <p>
      Easily download your data &amp; charts<br />
      Share with boss or business partner!
    </p>
  </div>
  <div class="col">
    <p>
      <img
        src="//microicon-clone.vercel.app/done_all/99/076bff"
        alt="responsive icon"
      />
    </p>
    <h3>Easy to use</h3>
    <p>
      Created by leading Amazon Account Managers to get your work done right.
    </p>
  </div>
</div>
