<head>
  <meta charset="utf-8">
  <meta property="og:locale" content="en_US" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.sitemap == false %}
  <meta name="robots" content="noindex, nofollow" />
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta property="og:url" content="{{site.url}}{{ page.url }}" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed"
    href="{{site.url}}/sitemap.xml"
  />

  {% capture titleraw %}{% if page.title %}{{ page.title }} | {{site.title}}{% else %}{{site.title}}{% endif %}{%
  endcapture %}
  <!-- cleanup the title -->
{% capture title %}{{titleraw | escape }}{% endcapture%}
<!-- cleanup title -->
  <title>{{title}}</title>
  <meta property="og:title" content="{{ title  }}" />
  <meta property="og:site_name" content="{{site.title | escape }}" />

  {% capture description %}{% if page.meta-description %}{{
  page.meta-description |  escape }}{% else %}{{page.description | escape}}{% endif %}{% endcapture
  %}
  <!-- capture description -->
  <meta name="description" content="{{ description }}" />
  <!-- capture description -->
  <meta
    property="og:description"
    content="{{ description  }}"
  />

  {% assign author = site.data.authors[page.author] %}
  {% if author %}
  <meta name="author" content="{{ author.name }}" />
  {% else %}
  <meta name="twitter:creator" content="@blairanderson" />
  <meta name="author" content="Blair Anderson" />
  {% endif %}

  <!-- CONTENT IMAGE -->
  {% assign author = site.data.authors['blair_anderson'] %}
  {% capture image_url %}{% if page.product_photo %}{{site.url}}{{page.product_photo}}{% endif %}{% endcapture %}
  <!-- leave image url EMPTY -->
  {% capture avatar_url %}{{ author.email | gravatar }}{% endcapture %}
  <!-- AVATAR URL -->
  {% capture author_name %}{{ author.name }}{% endcapture %}
  <!-- DATE = DATE + READING TIME -->
  {% capture date %}{{ page.date | date: "%b %-d, %Y" }} · {{page.content | reading_time }}{% endcapture %}
  <!-- FINAL bb = bannerbear -->
  {% capture bb %}{{image_url | bannerbear_url: avatar_url, author_name, date, page.title }}{% endcapture %}
  <meta content="{{bb}}" property="og:image" />
  <meta content="{{bb}}" name="twitter:image" />
  <script>
    setTimeout(function() {
      var img = new Image();
      img.src = "{{bb}}";
    }, 1000);
  </script>
  <meta content="summary_large_image" name="twitter:card" />

  {% if page.date %}
  <meta property="og:article:published_time" content='{{ page.date | date: "%F" }}' />
  {% endif %}


  <!-- <link
    rel="apple-touch-icon-precomposed"
    sizes="60x60"
    href="/img/favicons/logo-small.png"
  />
  <link
    rel="apple-touch-icon-precomposed"
    sizes="120x120"
    href="/img/favicons/logo-medium.png"
  />
  <link
    rel="apple-touch-icon-precomposed"
    sizes="152x152"
    href="/img/favicons/logo-large.png"
  /> -->



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
  {% endif %}
</head>
