<div class="container py-5">
  <div class="row  py-0 my-0 px-4">
    <h3 class="m-0 p-0">
      <span class="badge rounded-pill bg-primary text-white">{{include.badge}}</span>
    </h3>
    </div>
  <div class="row align-items-center">
    <div class="col px-4">
      <h2 class="fw-normal py-0">{{include.header}}</h2>
      <p class="lead">{{include.paragraph}}</p>
    </div>
    <div class="col px-lg-4">
      <div class="card">
        <div class="card-body">
          <img class="img-fluid" src="{{include.image}}" />
        </div>
      </div>
    </div>
  </div>
</div>
