<div class="row pt-5 text-center">
  {% assign navurl = page.url | remove: 'index.html' %}
  {% for object in site.data.targets %}
  {% assign item = object[1] %}
  <div class="col">
    <div class="card mb-4 shadow-mg {% if item.url == navurl %}border-primary{% endif %}">
      <div class="card-body">
        <h1 class="card-title pricing-card-title {% if item.url == navurl %}text-primary{% endif %}">
          {{item.name}}
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
        </ul>

        <a href="{{item.url}}" class="{% if item.url == navurl %}disabled{% else%}stretched-link{% endif %}">more...</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
