---
layout: default
---

<div class="col-6 mx-auto">
  <h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>
    <ul class="list-unstyled">
      {% for post in site.posts %}
      {% assign author = site.data.authors[post.author] %}
        <li>
          <h3><a href="{{ post.url }}"><time datetime="{{ post.date }}">
            <small>
              <strong>{{ post.date | date_to_string }}</strong>
            </small>
          </time> &middot; {{ post.title }}</a></h3>

          {% if author %}
          <h4>by {{ author.name }}</h4>
          {% endif %}
          <p class="lead">{{ post.excerpt | strip_html | truncate: 180 }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
